In [123]:
import pandas as pd
from numpy import *
from tabulate import tabulate
import sys
import os

In [261]:
ls = !ls

In [87]:
!pip install tabulate

Collecting tabulate
  Downloading tabulate-0.7.5.tar.gz
Installing collected packages: tabulate
  Running setup.py install for tabulate
Successfully installed tabulate-0.7.5

In [53]:
for i, e in enumerate(ls):
    print i, e

0 L_1976-2004.csv
1 L_2002-2015.csv
2 PIB_1980-955.csv
3 PIB_1995-2004.csv
4 PIB_1995-2010.xls
5 PIB_2000-2014.csv
6 TU_1976-2004.xls
7 TU_2005-2013.csv
8 U_1976-2004.xls
9 U_2005-2013.csv
10 U_2008-2015.csv
11 clean_data.ipynb
12 py_L_1976-2004.csv

In [55]:
ls.pop(-1)

'clean_data.ipynb'

In [253]:
tabla = ls[10]
tabla

'U_2008-2015.csv'

In [255]:
!subl3 .

In [256]:
d = pd.read_table(tabla, sep=';', skiprows=3, skipfooter=0)
#d = d.ix[1:,:-1]
d.head()

,Nacional,Andalucía,Aragón,"Asturias, Principado de","Balears, Illes",Canarias,Cantabria,Castilla y León,Castilla - La Mancha,Cataluña,...,Galicia,"Madrid, Comunidad de","Murcia, Región de","Navarra, Comunidad Foral de",País Vasco,"Rioja, La",Ceuta,Melilla,Total,Unnamed: 21
0,2008T1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"2.190,5","561,7","40,7","42,0","60,0","147,2","18,2","97,3","92,1","293,4",...,"108,3","249,5","66,5","19,5","61,9","10,6","5,3","6,9",2008T2,NaN
2,"2.385,7","616,1","46,9","39,1","48,5","161,1","20,2","110,7","103,9","293,8",...,"108,1","296,9","81,0","18,3","62,3","11,1","6,4","5,4",2008T3,NaN
3,"2.600,7","701,7","43,3","38,6","55,3","176,6","18,1","113,5","111,3","346,1",...,"110,3","286,0","98,4","23,2","70,5","13,4","5,9","7,0",2008T4,NaN
4,"3.206,8","845,6","66,0","49,7","68,6","215,4","25,1","136,1","147,9","465,0",...,"127,7","347,7","109,7","25,7","92,0","16,0","5,5","4,5",2009T1,NaN

In [257]:
d.tail()

,Nacional,Andalucía,Aragón,"Asturias, Principado de","Balears, Illes",Canarias,Cantabria,Castilla y León,Castilla - La Mancha,Cataluña,...,Galicia,"Madrid, Comunidad de","Murcia, Región de","Navarra, Comunidad Foral de",País Vasco,"Rioja, La",Ceuta,Melilla,Total,Unnamed: 21
26,"5.622,9","1.400,3","136,3","99,7","118,0","356,9","53,8","246,6","288,2","770,4",...,"284,3","631,8","181,6","49,5","167,5","27,8","11,7","9,9",2014T3,NaN
27,"5.427,7","1.419,1","119,7","95,8","101,0","362,3","54,1","226,0","285,4","726,1",...,"258,3","583,6","188,9","46,2","155,0","29,1","12,4","10,2",2014T4,NaN
28,"5.457,7","1.395,7","120,7","98,4","111,4","342,2","51,2","234,3","283,1","756,5",...,"263,8","612,3","196,9","46,4","174,1","26,4","12,8","10,1",2015T1,NaN
29,"5.444,6","1.359,1","119,7","87,2","130,7","343,5","51,5","233,7","284,5","758,0",...,"275,7","602,8","186,9","47,9","171,2","27,1","11,7","12,7",2015T2,NaN
30,"5.149,0","1.260,5","110,8","93,0","103,5","336,5","50,1","213,1","266,6","726,2",...,"252,5","602,5","175,9","38,4","164,4","25,6","8,9","13,0",NaN,NaN

In [258]:
d.head()

,Nacional,Andalucía,Aragón,"Asturias, Principado de","Balears, Illes",Canarias,Cantabria,Castilla y León,Castilla - La Mancha,Cataluña,...,Galicia,"Madrid, Comunidad de","Murcia, Región de","Navarra, Comunidad Foral de",País Vasco,"Rioja, La",Ceuta,Melilla,Total,Unnamed: 21
0,2008T1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"2.190,5","561,7","40,7","42,0","60,0","147,2","18,2","97,3","92,1","293,4",...,"108,3","249,5","66,5","19,5","61,9","10,6","5,3","6,9",2008T2,NaN
2,"2.385,7","616,1","46,9","39,1","48,5","161,1","20,2","110,7","103,9","293,8",...,"108,1","296,9","81,0","18,3","62,3","11,1","6,4","5,4",2008T3,NaN
3,"2.600,7","701,7","43,3","38,6","55,3","176,6","18,1","113,5","111,3","346,1",...,"110,3","286,0","98,4","23,2","70,5","13,4","5,9","7,0",2008T4,NaN
4,"3.206,8","845,6","66,0","49,7","68,6","215,4","25,1","136,1","147,9","465,0",...,"127,7","347,7","109,7","25,7","92,0","16,0","5,5","4,5",2009T1,NaN

In [259]:
d.tail(2)

,Nacional,Andalucía,Aragón,"Asturias, Principado de","Balears, Illes",Canarias,Cantabria,Castilla y León,Castilla - La Mancha,Cataluña,...,Galicia,"Madrid, Comunidad de","Murcia, Región de","Navarra, Comunidad Foral de",País Vasco,"Rioja, La",Ceuta,Melilla,Total,Unnamed: 21
29,"5.444,6","1.359,1","119,7","87,2","130,7","343,5","51,5","233,7","284,5","758,0",...,"275,7","602,8","186,9","47,9","171,2","27,1","11,7","12,7",2015T2,NaN
30,"5.149,0","1.260,5","110,8","93,0","103,5","336,5","50,1","213,1","266,6","726,2",...,"252,5","602,5","175,9","38,4","164,4","25,6","8,9","13,0",NaN,NaN

In [243]:
d.rename(columns={'Unnamed: 0': 'Tiempo'}).to_csv('py_'+tabla, index=False)
print 'py_'+tabla

py_U_1976-2004.xls

In [129]:
pd.read_csv('py_'+tabla[:-3], encoding='latin')

NameError: name 'tabla' is not defined

In [2]:
ls = !ls

In [281]:
for e in filter(lambda x: x.startswith('py_'),ls):
    pd.read_csv(e[:-4]).ix[:,1:].to_csv(e[:-4]+'.csv', index=False)

In [282]:
!open .

In [278]:
pwd

u'/Users/mmngreco/Documents/repos/okun_with_mpa'

In [3]:
ls

['clean_data.ipynb',
 'originals',
 'py_L_1976-2004',
 'py_L_1976-2004.csv',
 'py_L_2002-2015',
 'py_L_2002-2015.csv',
 'py_PIB_1980-955',
 'py_PIB_1980-955.csv',
 'py_PIB_1995-2004',
 'py_PIB_1995-2004.csv',
 'py_PIB_1995-2010',
 'py_PIB_1995-2010.csv',
 'py_PIB_2000-2014',
 'py_PIB_2000-2014.csv',
 'py_TU_1976-2004',
 'py_TU_1976-2004.csv',
 'py_U_1976-2004',
 'py_U_1976-2004.csv']

In [63]:
name_tables = list()
for table in ls:
    if not table.endswith('.csv'): continue
    globals()[table] = pd.read_csv(table, encoding='latin')
    name_tables.append(table)

In [64]:
name_tables

['py_L_1976-2004.csv',
 'py_L_2002-2015.csv',
 'py_PIB_1980-955.csv',
 'py_PIB_1995-2004.csv',
 'py_PIB_1995-2010.csv',
 'py_PIB_2000-2014.csv',
 'py_TU_1976-2004.csv',
 'py_U_1976-2004.csv']

In [65]:
cols_names = map(lambda x: pd.Series(globals()[x].columns), name_tables)

In [66]:
names_check = pd.concat(map(pd.Series, cols_names), 
                        axis=1).rename(columns=dict(zip(range(len(name_tables)), 
                                                        name_tables)))

In [121]:

names_check.T.to_excel('pair_table.xls')

In [122]:
!open .

In [128]:
print tabulate(names_check.T)

--------------------  ------  ---------  -----------  ------------------------  ------------------------  ---------------  ---------  ---------------  --------------------  --------------------  --------------------  --------------------  -----------  ---------------------  ---------------------  ----------------------------  ----------------------------  ------------  ---------------  ---------------  --------------  -----------  -----
py_L_1976-2004.csv    Tiempo  Total      AndalucÃ­a   AragÃ³n                   Asturias (Principado de)  Balears (Illes)  Canarias   Cantabria        Castilla y LeÃ³n      Castilla - La Mancha  CataluÃ±a             Comunidad Valenciana  Extremadura  Galicia                Madrid (Comunidad de)  Murcia (RegiÃ³n de)           Navarra (Comunidad Foral de)  PaÃ­s Vasco   Rioja (La)       Ceuta y Melilla  nan             nan          nan
py_L_2002-2015.csv    Tiempo  Nacional   Andalucâa  Aragân                  Asturias, Principado de   Balears, Illes   Canarias   Cantabria        Castilla y Leân     Castilla - La Mancha  Cataluâa            Comunitat Valenciana  Extremadura  Galicia                Madrid, Comunidad de   Murcia, Regiân de           Navarra, Comunidad Foral de   Paâs Vasco  Rioja, La        Ceuta            Melilla         nan          nan
py_PIB_1980-955.csv   Tiempo  Andalucía  Aragón       Asturias (Principado de)  Baleares (Islas)          Canarias         Cantabria  Castilla y León  Castilla - La Mancha  Cataluña              Comunidad Valenciana  Extremadura           Galicia      Madrid (Comunidad de)  Murcia (Región de)     Navarra (Comunidad Foral de)  País Vasco                    Rioja (La)    Ceuta y Melilla  Extra-Regio      España          nan          nan
py_PIB_1995-2004.csv  Tiempo  ANDALUCIA  ARAGON       ASTURIAS (Ppdo. de)       BALEARS (Illes)           CANARIAS         CANTABRIA  CASTILLA Y LEON  CASTILLA-LA MANCHA    CATALU?               COMUNIDAD VALENCIANA  EXTREMADURA           GALICIA      MADRID (Com. de)       MURCIA  (Regi? de)     NAVARRA (C. Foral de)         PAIS VASCO                    RIOJA (La)    CEUTA Y MELILLA  CEUTA            MELILLA         EXTRA-REGIO  ESPA?
py_PIB_1995-2010.csv  Tiempo  Andalucía  Aragón       Asturias, Principado de   Balears, Illes            Canarias         Cantabria  Castilla y León  Castilla - La Mancha  Cataluña              Comunitat Valenciana  Extremadura           Galicia      Madrid, Comunidad de   Murcia, Región de      Navarra, Comunidad Foral de   País Vasco                    Rioja, La     Ceuta            Melilla          TOTAL NACIONAL  nan          nan
py_PIB_2000-2014.csv  Tiempo  Andalucía  Aragón       Asturias; Principado de   Balears; Illes            Canarias         Cantabria  Castilla y León  Castilla - La Mancha  Cataluña              Comunitat Valenciana  Extremadura           Galicia      Madrid; Comunidad de   Murcia; Región de      Navarra; Comunidad Foral de   País Vasco                    Rioja; La     Ceuta            Melilla          TOTAL NACIONAL  nan          nan
py_TU_1976-2004.csv   Tiempo  Total      Andalucía    Aragón                    Asturias (Principado de)  Balears (Illes)  Canarias   Cantabria        Castilla y León       Castilla - La Mancha  Cataluña              Comunidad Valenciana  Extremadura  Galicia                Madrid (Comunidad de)  Murcia (Región de)            Navarra (Comunidad Foral de)  País Vasco    Rioja (La)       Ceuta y Melilla  nan             nan          nan
py_U_1976-2004.csv    Tiempo  Total      Andalucía    Aragón                    Asturias (Principado de)  Balears (Illes)  Canarias   Cantabria        Castilla y León       Castilla - La Mancha  Cataluña              Comunidad Valenciana  Extremadura  Galicia                Madrid (Comunidad de)  Murcia (Región de)            Navarra (Comunidad Foral de)  País Vasco    Rioja (La)       Ceuta y Melilla  nan             nan          nan
--------------------  ------  ---------  -----------  ------------------------  ------------------------  ---------------  ---------  ---------------  --------------------  --------------------  --------------------  --------------------  -----------  ---------------------  ---------------------  ----------------------------  ----------------------------  ------------  ---------------  ---------------  --------------  -----------  -----